.banner {
  background: url("../public//img/01\ \(1\).jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
  padding: 0;
}
.bannerSocialTitle {
  color: white;
  display: flex;
  align-items: center;
}
.banner span {
  color: #da1d25;
}
.banner h1 {
  font-size: 90px;
  font-weight: bolder;
  margin: 0;
}
.banner h4 {
  transform: rotate(-90deg);
}
.bannerTitle {
  margin-left: 50px;
}
.bar {
  width: 4px;
  height: 90px;
  background-color: #da1d25;

  margin: 0 auto;
}
.share {
  padding: 20px;
}
.social {
  margin: 40px;
}

.socialIcon {
  margin-top: 20px;
  transform: rotate(-90deg);
}
.bannerFooter {
  display: flex;
  color: white;
  padding-left: 10%;
}
.bannerFooterChild1 {
  background: transparent;
  height: 130px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.bannerFooterChild1:hover,
.bannerFooterChild3:hover {
  background: #da1d25;
}
.bannerFooterChild2 {
  background: #da1d25;
  height: 130px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerFooterChild3 {
  background: transparent;
  height: 130px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
/* responsive */

@media screen and (max-width: 600px) {
  .socialContainer {
    display: none;
  }
  .banner {
    background-size: cover;
  }
}
