.banner {
  background: url("../public//img/01\ \(1\).jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1357px;
  width: 100%;
  color: white;
  padding: 0;
  font-family: Teko, sans-serif;
}
.bannerSocialTitle {
  color: white;
  display: flex;
  align-items: center;
  height: 1215px;
  position: relative;
}
.bannerSocialTitle3 {
  height: 100%;
  width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialContainer {
  position: absolute;
  top: 35%;
  left: 60px;
  font-size: 18px;
  font-family: sans-serif;
}
.banner span {
  color: #da1d25;
}
.banner h1 {
  font-size: 120px;
  font-weight: bolder;
  margin: 0;
}
.banner h4 {
  transform: rotate(-90deg);
}
.bannerTitle {
  margin-left: 110px;
  width: 1016px;
}
.bar {
  width: 4px;
  height: 90px;
  background-color: #da1d25;

  margin: 0 auto;
}
.share {
  padding: 20px;
}
.social {
  margin: 40px;
}

.socialIcon {
  margin-top: 20px;
  transform: rotate(-90deg);
}
.bannerFooter {
  display: flex;
  color: white;
  padding-left: 10%;
  align-items: flex-end;
  height: 142px;
}
.bannerFooterChild1 {
  background: transparent;
  height: 130px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.bannerFooterChild1:hover,
.bannerFooterChild3:hover {
  background: #da1d25;
}
.bannerFooterChild2 {
  background: #da1d25;
  height: 130px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bannerFooterChild3 {
  background: transparent;
  height: 130px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
/* responsive */
@media (min-width: 1400px) {
  .bannerSocialTitle2 {
    max-width: 1320px;
  }
}
@media (min-width: 1200px) {
  .bannerSocialTitle2 {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .bannerSocialTitle2 {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .bannerSocialTitle2 {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .bannerSocialTitle2 {
    max-width: 540px;
  }
}
@media screen and (max-width: 600px) {
  .socialContainer {
    display: none;
  }
  .bannerSocialTitle {
    height: 80vh;
  }
  .banner {
    background-size: cover;
    height: 130vh;
  }
  .bannerFooter {
    display: block;
  }
  .bannerFooterChild3,
  .bannerFooterChild2,
  .bannerFooterChild1 {
    width: 95%;
  }
}
