.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  color: white;
}

.notify {
  background-color: #da1d25;
  padding: 5px 20px;
  border: 0;
  color: white;
  margin-top: 10px;
}
