.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  color: white;
  padding: 20px;
}

.notify {
  background-color: #da1d25;
  padding: 5px 20px;
  border: 0;
  color: white;
  margin-top: 10px;
}
.links {
  display: flex;
}
.links:nth-child(1) {
  padding: 10px;
}
.footer2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  color: white;
  padding: 20px;
}
.hr {
  background-color: rgb(32, 32, 32);
  height: 1px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .footer {
    display: block;
  }
  .footer2 {
    display: block;
    width: 100%;
  }
  .footer2 div {
    margin: 0 auto;
  }
}
