.nav li {
  list-style-type: none;
}
.flex {
  display: flex;
}
.row {
  flex-direction: row;
}
.header {
  background-color: black;
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;

  align-items: center;
  margin: 0;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  white-space: nowrap;
  margin-right: 20px;
}
.nav button {
  background-color: #da1d25;
  color: white;
  padding: 10px 20px;
  font-weight: 900;
}

/* responsive */
@media only screen and (max-width: 600px) {
  .nav ul {
    padding-top: 80px;
    z-index: 2;
    justify-content: flex-start;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    min-height: 110vh;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 300ms;
    transform: translateX(-100%);
  }
  .nav.open ul {
    transform: translateX(0);
  }
  .nav {
    width: fit-content;
  }
  .nav ul li {
    margin-bottom: 40px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
  }
  .navIcon {
    position: relative;
    z-index: 4;
    margin-top: 25px;
    width: 35px;
    height: fit-content;
    cursor: pointer;
  }
  .navIcon div {
    border-radius: 2px;
    height: 3px;
    width: 35px;
    margin-bottom: 10px;
    background-color: white;
    transition-duration: 300ms;
  }
  .nav button {
    display: none;
  }
}
